{% extends "base.html" %}
{% block title %}- Home {% endblock %}


{% block content %}      
		<div class="post">
			<h1 class="title">What is ReBuS ... and why?</h1>            
            <p class="byline">&nbsp;</p>
			<div class="entry">
				<p><strong>ReBuS</strong> stands for <strong>Resources for Bulgarian Studies</strong>. The idea is to create a common playground for educators and researchers around the world who are working with different aspects of the Bulgarian language, literature and culture. Together we create the <strong>ReBuS</strong> data base, and by doing so, we can all share each others experiences in teaching courses or our latest research results. </p>

<p>In order to add information to the data base one needs to be a registered user. Please take 5 minutes to <a href="/accounts/register/">register</a>, so that you are able to join the <strong>ReBuS</strong> community. </p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Who we are</h2>
            <p class="byline">&nbsp;</p>
			<div class="entry">
				<p>&bull; <strong>Daniela Assenova</strong>, lecturer in Bulgarian at Uppsala University. Administrator of ReBuS.</p>
				<p>&bull; <strong>Ivan Christoff</strong>, lecturer in Computer Science at Uppsala University. Administrator of ReBuS.</p>
                <p>&bull; <strong>Mariana Bustamante</strong>, MSc student in Computer Science at Uppsala University. Mariana developed the site.</p>
                <p>If you have any suggestions, or ideas, on how to improve ReBuS, please write: <a href="mailto:Daniela.Assenova@moderna.uu.se">Daniela.Assenova@moderna.uu.se</a> or <a href="mailto:Ivan.Christoff@it.uu.se">Ivan.Christoff@it.uu.se<a></p>
			</div>
		</div>
{% endblock %}

