{% extends "base.html" %}
{% block title %}- New Book {% endblock %}

{% block content %} 
<div class="post">
  <h1 class="title">Add a new book</h1>            
  <p class="byline">&nbsp;</p>
  <p>
    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
      </div>
      {% endfor %}
      <p><input type="submit" value="Save" /></p>
    </form>
    </p>
</div>
{% endblock %}
