{% extends "base.html" %}
{% load static %}
{% block title %}- Calendar {% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/fullcalendar/fullcalendar.css" />
<script type="text/javascript" src="{% get_static_prefix %}js/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/fullcalendar/gcal.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
  $("#calendar").fullCalendar({
  
  eventSources: [
  "{{ calendar_links|safe }}"
  ],

  eventClick: function(event) {
  if (event.url) {
  window.open(event.url, event.title, "width=500,height=300,left=500,top=300");
  return false;
  }
  }
  })
  });
</script>
{% endblock %}

{% block content %}      
<div class="post">
  <h1 class="title">ReBuS Calendar</h1>            
  <p class="byline">&nbsp;</p>
  <div id="calendar">
  </div>
  <div class="spacer"></div> 
</div>
{% endblock %}
